<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8">

    <title>Restaurante - Clientes</title>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../style/app.css">
    <link rel="stylesheet" type="text/css" href="../vendor/typeahead/typeahead.css">

    <script src="https://code.jquery.com/jquery-git2.min.js" type="text/javascript"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    
    <script src="../vendor/jquery.mask.js" type="text/javascript"></script>
    <script src="../vendor/typeahead/typeahead.jquery.js" type="text/javascript"></script>

    <script src="../lib/common.js" type="text/javascript"></script>
    <script src="../lib/db.js" type="text/javascript"></script>
    <script src="../lib/models/bairro.js" type="text/javascript"></script>
    <script src="../lib/models/cliente.js" type="text/javascript"></script>
    <script src="../lib/enderecos.js" type="text/javascript"></script>
    <script src="../lib/clientes.js" type="text/javascript"></script>
    <script src="../lib/app.js" type="text/javascript"></script>
  </head>
  <body>
    <div id="navbar"></div>
    <div id="main" class="container"></div>
  </body>
</html>